.bg {
  background-image: url("../image/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  background: linear-gradient(#000000 90% #000000 15%);
}
.header {
  padding-top: 7.1rem;
}
.header__container {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 6.9rem;
}

.sitenav {
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.sitenav__link {
  color: $white-color;
}
.phone__number {
  color: $white-color;
}
