$peach-color: #E7816B;
$black-color: #1D1C1E;
$white-color: #FFFFFF;
$light-peach-color: #FFAD9B;
$dark-grey-color: #333136;
$light-grey-color: linear-gradient(0deg, #DFDFDF, #DFDFDF),
linear-gradient(0deg, rgba(241, 243, 245, 0.857569), rgba(241, 243, 245, 0.857569));
$light-white-color:#FDF3F0;

$main-ff: "Jost", sans-serif;




